<style>
  .header {
    text-align: center;
  }

  nav {
    margin: 20px;
  }

  nav a{
    border: 1px solid black;
    padding: 0px 10px;
    font-size: 25px;
  }

  nav a.activeNav {
    color: blue;
    background-color: grey;
  }
</style>
<body>

  <h1 class="header">Broodjeszaak</h1>

  <nav>
    <a routerLink="/brood" routerLinkActive="activeNav">Brood</a>
    <a routerLink="/beleg" routerLinkActive="activeNav">Beleg</a>
    <a routerLink="/saus" routerLinkActive="activeNav">Saus</a>
  </nav>

  <router-outlet></router-outlet>

</body>
